.task-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 15px;
    background: #222;
    border-radius: 10px;
    color: white;
}
.task-form input,
.task-form select,
.task-form button{
    padding: 8px 12px;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    border: none;
    background: none;
    box-shadow: 0px 3px 4px rgba(33, 239, 247, 0.1),0px 3px 4px rgba(33, 239, 247, 0.2),0px 3px 4px rgba(33, 239, 247, 0.3),0px 3px 4px rgba(33, 239, 247, 0.1);
    color: white;
}
.priority:nth-child(1){color: black;}
.priority:nth-child(2){color: black;}
.priority:nth-child(3){color: black;}

#time{
   width: 93%;
}
#date{
    width: 93%;
}
#name{
    height: 12vh;
    text-align: center;
}
.task-form select.priority-low{
    background-color: #4caf50;
    color: white;
}

.task-form select.priority-medium{
    background-color: #ff9800;
    color: white;
}

.task-form select.priority-high{
    background-color: #f44336;
    color: white;
}

.task-form button{
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.task-form button:hover{
    background-color: #1976d2;
}