body{
    margin: 0;
    color: white;
}
.Navbar{
    display: flex;
    gap: 12%;
    padding: 15px;
    background: #00071a;
    justify-content: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.9);
    z-index: 10000;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.3s;
}
.nav-link:hover{
    color: cyan;
    text-decoration: underline;
}
